<ion-header>
  <ion-toolbar>
    <ion-buttons slot='start'>
      <ion-button (click)='onCancel()'>
        <ion-icon name='arrow-back'></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Add Customer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="form" (ngSubmit)="addCustomer()" method="post">
    <div class="input-wrapper">
      <ion-label>Customer Name</ion-label>
      <ion-input class="input-form" formControlName="customer_name"></ion-input>
    </div>
    <div *ngIf="form.controls['customer_name'].errors && form.controls['customer_name'].touched" class="error-label">
      <div [hidden]="!form.controls['customer_name'].errors.required">Customer Name is required.</div>
      <div [hidden]="!form.controls['customer_name'].errors.minlength">Customer name must be at least 3 characters.</div>
    </div>

    <div class="input-wrapper">
      <ion-label>Hairstylists</ion-label>
      <ion-select formControlName="selectedHairstylist" placeholder="Select Hairstylist" class="input-form">
        <ion-select-option *ngFor="let h of hairstylists" [value]="h.hairstylist_id">
          {{h.hairstylist_name}}
        </ion-select-option>
      </ion-select>
    </div>
    <div *ngIf="form.controls['selectedHairstylist'].errors && form.controls['selectedHairstylist'].touched" class="error-label">
      <div [hidden]="!form.controls['selectedHairstylist'].errors.required">Select one hairstylist.</div>
    </div>
    <ion-button type="submit" expand="full" color="primary" [disabled]="!form.valid" class="btn-form">Add Customer</ion-button>
  </form>
</ion-content>
  