<ion-header>
  <ion-toolbar>
    <ion-title>Orders</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- REFRESHER -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content refreshingSpinner="circles"></ion-refresher-content>
  </ion-refresher>

  <div class="wrapper">
    <!-- ========== ROLE CUSTOMER ========== -->
    <div *ngIf="userRole === 'Customer' && queueCustomers">
      <ion-card *ngFor="let queue of queueCustomers" [routerLink]="['/', 'tabs', 'tabs', 'orders', queue.hairstylist_id, 'details', queue.id]" class="card">
        <div class="line"></div>
        <div class="line-list">
          <p class="list-label"> Barbershop: {{ queue.barbershop_name }} </p>
          <p class="list-label"> Hairstylist: {{ queue.hairstylist_name }} </p>
          <p class="list-label"> Queues: {{ queue.queue }} </p>
          <p class="date"> {{ queue.created_at | date:'d MMM y, HH:mm aa' }} </p>
        </div>
      </ion-card>
    </div>

    <!-- ========== ROLE BARBERSHOP ========== -->
    <div *ngIf="userRole === 'Barbershop' && queueBarbershops">
      <ion-card *ngFor="let queue of queueBarbershops" [routerLink]="['/', 'tabs', 'tabs', 'orders', queue.hairstylist_id, 'details', queue.id, queue.user_id, 'manual']" class="card">
        <div class="line"></div>
        <div class="line-list">
          <p class="list-label"> 
            Customer: {{ queue.full_name }} 
            <span *ngIf="(queue.user_id) + '' === 'GST' && queue !== null"> {{ queue.customer_name }} </span>
          </p>
          <p class="list-label"> Queues: {{ queue.queue }} </p>
          <p class="list-label"> Hairstylist: {{ queue.hairstylist_name }} </p>
          <p class="date"> {{ queue.created_at | date:'d MMM y, HH:mm aa' }} </p>
        </div>
      </ion-card>
    </div>
    
    <!-- If Barbershop or Customer doesn't have any order -->
    <div class="no-order" *ngIf="errorMsg && userRole === 'Customer' || errorMsg && userRole === 'Barbershop'">
      <ion-icon class="icon" name="list-box" slot="icon-only"></ion-icon>
      <p class="error-msg">{{ errorMsg }}</p>
    </div>
  </div>

  <!-- =================== SKELETON CUSTOMER ===================== -->
  <div *ngIf="!queueCustomers && queueCustomers !== null && userRole === 'Customer'">
    <ion-card *ngFor="let item of [1,1,1,1,1,1,1,1,1,1]" class="card custom-skeleton">
      <div class="line-list">
        <ion-skeleton-text class="list-label" animated style="width: 80%"></ion-skeleton-text>
        <ion-skeleton-text class="list-label" animated style="width: 60%"></ion-skeleton-text>
        <ion-skeleton-text class="list-label" animated style="width: 40%"></ion-skeleton-text>
        <ion-skeleton-text class="date" animated style="width: 50%"></ion-skeleton-text>
      </div>
    </ion-card>
  </div>

  <!-- =================== SKELETON BARBERSHOP ===================== -->
  <div *ngIf="!queueBarbershops && queueBarbershops !== null && userRole === 'Barbershop'">
    <ion-card *ngFor="let item of [1,1,1,1,1,1,1,1,1,1]" class="card custom-skeleton">
      <div class="line-list">
        <ion-skeleton-text class="list-label" animated style="width: 80%"></ion-skeleton-text>
        <ion-skeleton-text class="list-label" animated style="width: 60%"></ion-skeleton-text>
        <ion-skeleton-text class="list-label" animated style="width: 40%"></ion-skeleton-text>
        <ion-skeleton-text class="date" animated style="width: 50%"></ion-skeleton-text>
      </div>
    </ion-card>
  </div>
</ion-content>

<!-- FAB for Barbershop Add Customer Manually -->
<div *ngIf="userRole === 'Barbershop'">
  <ion-fab color="primary" vertical="bottom" horizontal="end" slot="fixed" class="ion-fab">
    <ion-fab-button (click)="addCustomer()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</div>