.top {
    margin: 0px;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    padding: 15px;
    font-size: 15px;
    color: black;
}

.history-detail {
    margin: 15px 0px;
    padding: 15px;
    font-size: 15px;
    color: black;

    .title {
        font-size: 12px;
        color: grey;
        text-transform: uppercase;
    }

    .icon {
        font-size: 18px;
        color: var(--ion-color-primary);
    }

    .label:first-child {
        margin: 15px;
    }

    .label {
        margin: 20px 0px;
    }

    p {
        margin: 8px 0px;
    }
}

.float-right {
    position: relative;
    float: right;
    margin: 0px;
}

.completed {
    padding: 0px 5px;
    font-size: 16px;
    color: var(--ion-color-success);
}
.canceled {
    padding: 0px 5px;
    font-size: 16px;
    color: var(--ion-color-danger);
}
