<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="['/tabs/tabs/history']"></ion-back-button>
    </ion-buttons>
    <ion-title>History Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div *ngIf="userRole === 'Customer'">
    <ion-card class="top">
      <ion-label> Order #{{ historyId }}</ion-label>
      <ion-label class="date float-right"> {{ orderTime | date:'d MMM, HH:mm aa'}}</ion-label>
    </ion-card>
    
    <div class="mt50">
      <ion-card class="history-detail">
        <ion-label class="title"> {{ barberName }} </ion-label>
        <ion-row class="mt10">
          <ion-col size="1" class="icon">
            <ion-icon name="pin"></ion-icon>
          </ion-col>
          <ion-col size="11">
            <ion-label> {{ barberAddress }} </ion-label>
          </ion-col>
        </ion-row>
      </ion-card>

      <ion-card class="history-detail">
        <ion-label class="title"> Hairstylist </ion-label>
        <ion-label class="float-right"> {{ hairstylistName }}</ion-label>
      </ion-card>

      <ion-card class="history-detail">
        <ion-label class="title"> Status </ion-label>
        <div class="status float-right">
          <ion-icon class="completed" *ngIf="status === 'Completed'" name="checkmark-circle"> </ion-icon>
          <ion-icon class="canceled" *ngIf="status === 'Canceled'" name="close-circle"></ion-icon>
          <ion-label>{{ status }}</ion-label>
        </div>
      </ion-card>

      <ion-card class="history-detail">
        <ion-label class="title"> Price </ion-label>
        <ion-label class="float-right">{{ price | currency:"IDR"}}</ion-label>
      </ion-card>
    </div>
  </div>
  <!-- =========== ROLE BARBERSHOP ============= -->
  <div *ngIf="userRole === 'Barbershop'">
    <ion-card class="top">
      <ion-label> Order #{{ historyId }}</ion-label>
      <ion-label class="date float-right"> {{ orderTime | date:'d MMM, HH:mm aa'}}</ion-label>
    </ion-card>
    
    <div class="mt50">
      <ion-card class="history-detail">
        <ion-label class="title"> Customer Name </ion-label>
        <ion-label class="float-right"> {{ fullName }}</ion-label>
        <ion-label class="float-right" *ngIf="custName"> {{ custName }} </ion-label>
      </ion-card>

      <ion-card class="history-detail">
        <ion-label class="title"> Hairstylist </ion-label>
        <ion-label class="float-right"> {{ hairstylistName }}</ion-label>
      </ion-card>

      <ion-card class="history-detail">
        <ion-label class="title"> Status </ion-label>
        <div class="status float-right">
          <ion-icon class="completed" *ngIf="status === 'Completed'" name="checkmark-circle"> </ion-icon>
          <ion-icon class="canceled" *ngIf="status === 'Canceled'" name="close-circle"></ion-icon>
          <ion-label>{{ status }}</ion-label>
        </div>
      </ion-card>

      <ion-card class="history-detail">
        <ion-label class="title"> Price </ion-label>
        <ion-label class="float-right">{{ price | currency:"IDR"}}</ion-label>
      </ion-card>
    </div>
  </div>
</ion-content>
