.wrapper {
    margin: 30px 10px;
}

.circle-completed {
    background: var(--ion-color-success);
    border-radius: 100px;
    width: 50px;
    height: 50px;
    margin: 20px 0px;
    margin-right: 15px;
}

.circle-cancel {
    background: var(--ion-color-danger);
    border-radius: 100px;
    width: 50px;
    height: 50px;
    margin: 20px 0px;
    margin-right: 15px;
}

.order-list {
    margin: 10px 0px;

    .list-label {
        font-size: 15px;
        margin: 3px 0px;
        text-transform: capitalize;
        color: black;
    }

    .date {
        font-size: 12px;
        color: grey;
        margin: 15px 0px;
        margin-bottom: 0px;
    }
}

.no-order {
    margin: 50% auto;

    .icon {
        width: 100%;
        height: 50px;
        color: var(--ion-color-primary);
    }

    .error-msg {
        text-align: center;
        margin: 10px auto;
        font-size: 110%;
    }
}

// Card List
.card {
    margin: 15px;

    .line-completed {
        height: 100%;
        width: 10px;
        margin: 0px;
        background-color: var(--ion-color-success);
        display: block;
        position: absolute;
    }

    .line-cancel {
        height: 100%;
        width: 10px;
        margin: 0px;
        background-color: var(--ion-color-danger);
        display: block;
        position: absolute;
    }

    .line-list {
        margin: 10px 20px;
        
        .list-label {
            font-size: 15px;
            margin: 3px 0px;
            text-transform: capitalize;
            color: black;
        }
    
        .date {
            font-size: 12px;
            color: grey;
            margin: 15px 0px;
            margin-bottom: 0px;
        }
    }
}

/* Custom Skeleton */
.custom-skeleton {
    ion-skeleton-text {
        line-height: 15px;
        padding: 2px;
    }

    .search {
        padding: 8px;
        margin: 10px 0px;
    }
}