<ion-header>
  <ion-toolbar>
    <ion-title> History </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- REFRESHER -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      refreshingSpinner="circles"
    ></ion-refresher-content>
  </ion-refresher>
  
  <div class="wrapper">
    <!-- ================== ROLE CUSTOMER ===================== -->
    <div *ngIf="userHistory && userRole === 'Customer'">
      <ion-card *ngFor="let history of userHistory" [routerLink]="['/', 'tabs', 'tabs', 'history', 'details', history.id]" class="card">
        <div [ngClass]="{'line-completed': history.status == 'Completed','line-cancel': history.status == 'Canceled'}"></div>
        <div class="line-list">
            <p class="list-label"> Barbershop: {{ history.barbershop_name }} </p>
            <p class="list-label"> {{ history.status }} </p>
            <p class="date"> {{ history.created_at | date:'d MMM y, HH:mm aa' }} </p>
        </div>
      </ion-card>
    </div>

    <!-- =================== ROLE BARBERSHOP ===================== -->
    <div *ngIf="barberHistory && userRole === 'Barbershop'">
      <ion-card *ngFor="let history of barberHistory" [routerLink]="['/', 'tabs', 'tabs', 'history', 'details', history.id, history.user_id, 'manual']" class="card">
        <div [ngClass]="{'line-completed': history.status == 'Completed','line-cancel': history.status == 'Canceled'}"></div>
        <div class="line-list">
            <p class="list-label"> Customer: {{ history.full_name }}
              <span *ngIf="(history.user_id) + '' === 'GST' && history !== null"> {{ history.customer_name }} </span>
            </p>
            <p class="list-label"> {{ history.status }} </p>
            <p class="date"> {{ history.created_at | date:'d MMM y, HH:mm aa' }} </p>
        </div>
      </ion-card>
    </div>

    <!-- If Barbershop or Customer doesn't have any history -->
    <div class="no-order" *ngIf="errorMsg && userRole === 'Barbershop' || errorMsg && userRole === 'Customer'">
      <ion-icon class="icon" name="list-box" slot="icon-only"></ion-icon>
      <p class="error-msg">{{ errorMsg }}</p>
    </div>
  </div>
  
  <!-- =================== SKELETON CUSTOMER ===================== -->
  <div *ngIf="!userHistory && userHistory !== null && userRole === 'Customer'">
    <ion-card *ngFor="let item of [1,1,1,1,1,1,1,1,1,1]" class="card custom-skeleton">
      <div class="line-list">
        <ion-skeleton-text class="list-label" animated style="width: 80%"></ion-skeleton-text>
        <ion-skeleton-text class="list-label" animated style="width: 60%"></ion-skeleton-text>
        <ion-skeleton-text class="date" animated style="width: 50%"></ion-skeleton-text>
      </div>
    </ion-card>
  </div>

  <!-- =================== SKELETON BARBERSHOP ===================== -->
  <div *ngIf="!barberHistory && barberHistory !== null&& userRole === 'Barbershop'">
    <ion-card *ngFor="let item of [1,1,1,1,1,1,1,1,1,1]" class="card custom-skeleton">
      <div class="line-list">
        <ion-skeleton-text class="list-label" animated style="width: 80%"></ion-skeleton-text>
        <ion-skeleton-text class="list-label" animated style="width: 60%"></ion-skeleton-text>
        <ion-skeleton-text class="date" animated style="width: 50%"></ion-skeleton-text>
      </div>
    </ion-card>
  </div>
</ion-content>
