<ion-header>
  <ion-toolbar>
    <ion-buttons slot='start'>
      <ion-button (click)='onCancel()'>
        <ion-icon name='arrow-back'></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Change Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<form [formGroup]="form" (ngSubmit)="changePassword()" method="post">
  <div class="input-wrapper">
    <ion-label>Old Password</ion-label>
    <ion-input type="password" formControlName="old_password" class="input-form"></ion-input>
  </div>
  <div *ngIf="form.controls['old_password'].errors && form.get('old_password').touched" class="error-label">
    <div [hidden]="!form.controls['old_password'].errors.required">Old Password is required.</div>
  </div>

  <div class="input-wrapper">
    <ion-label>New Password</ion-label>
    <ion-input type="password" formControlName="new_password" class="input-form"></ion-input>
  </div>
  <div *ngIf="form.controls['new_password'].errors && form.get('new_password').touched" class="error-label">
    <div [hidden]="!form.controls['new_password'].errors.required">New Password is required.</div>
    <div [hidden]="!form.controls['new_password'].errors.minlength">New Password must be at least 6 characters.</div>
    <div [hidden]="!form.controls['new_password'].errors.maxlength">New Password may not be greater than 16 characters.</div>
  </div>

  <div class="input-wrapper">
    <ion-label>Confirm Password</ion-label>
    <ion-input type="password" formControlName="conf_password" class="input-form"></ion-input>
  </div>
  <div *ngIf="form.controls['conf_password'].errors && form.get('conf_password').touched" class="error-label">
    <div [hidden]="!form.controls['conf_password'].errors.required">Confirm Password is required.</div>
    <div [hidden]="!form.controls['conf_password'].errors.minlength">Confirm Password must be at least 6 characters.</div>
    <div [hidden]="!form.controls['conf_password'].errors.maxlength">Confirm Password may not be greater than 16 characters.</div>
  </div>

  <ion-button type="submit" expand="full" color="primary" [disabled]="!form.valid" class="btn-form">Change Password</ion-button>
</form>
</ion-content>
