.top {
    margin: 0px;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    padding: 15px;
    font-size: 15px;
    color: black;
}

.queue {
    margin: 20px auto;
    width: 180px;
    height: 180px;
    border-radius: 100%;
    background: var(--ion-color-primary);
    padding: 45px 0px;
    text-align: center;
    font-size: 50px;
    color: white;

    p {
        margin: 5px 0px;
        font-size: 16px;
    }
}

.order-detail {
    margin: 15px 0px;
    padding: 15px;
    font-size: 15px;
    color: black;

    .title {
        font-size: 12px;
        color: grey;
        text-transform: uppercase;
    }

    .icon {
        font-size: 18px;
        color: var(--ion-color-primary);
    }
}

.float-right {
    position: relative;
    float: right;
    margin: 0px;
}

// Buttons
.contact {
    border: 1px solid #cecece;
    text-align: center;
    border-radius: 5px;
    color: white;
    box-shadow: 2px 2px #f1f1f1;

    .call {
        border-right: 1px solid #cecece;
    }

    .chat {
        border-left: 1px solid #cecece;
    }

    ion-icon {
        padding: 0px 5px;
    }
}

.cancel {
    margin-top: 40px;
}

.finish {
    margin-top: 20px;
    font-size: 15px;
}