<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tabs/orders"></ion-back-button>
      <!-- <ion-back-button defaultHref="/tabs/tabs/orders"></ion-back-button> -->
    </ion-buttons>
    <ion-title>Order Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- REFRESHER -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content refreshingSpinner="circles"></ion-refresher-content>
  </ion-refresher>
  <!-- ================= ROLE CUSTOMER ================= -->
  <div *ngIf="userRole === 'Customer' && orderId">
    <ion-card class="top">
      <ion-label> Order #{{ orderId }}</ion-label>
      <ion-label class="date float-right"> {{ orderTime | date:'d MMM, HH:mm aa'}}</ion-label>
    </ion-card>

    <div class="mt50">
      <div class="queue">
        <ion-label> {{ queue }} </ion-label>
        <p> queues </p>
      </div>

      <ion-card class="order-detail">
        <ion-label class="title"> {{ barberName }} </ion-label>
        <ion-row class="mt10">
          <ion-col size="1" class="icon">
            <ion-icon name="pin"></ion-icon>
          </ion-col>
          <ion-col size="11">
            <ion-label> {{ barberAddress }} </ion-label>
          </ion-col>
        </ion-row>
      </ion-card>

      <ion-card class="order-detail">
        <ion-label class="title"> Hairstylist </ion-label>
        <ion-label class="float-right"> {{ hairstylistName }}</ion-label>
      </ion-card>

      <ion-card class="order-detail">
        <ion-label class="title"> Price </ion-label>
        <ion-label class="float-right">{{ price | currency:"IDR"}}</ion-label>
      </ion-card>
    </div>

    <ion-row class="contact">
      <ion-col size="6" class="call" >
        <ion-button color="success" fill="clear" (click)='call()'>
          <ion-icon name="call"></ion-icon>
          <ion-label> CALL </ion-label>
        </ion-button>
      </ion-col>
      <ion-col size="6" class="chat">
        <ion-button fill="clear" (click)='chat()'>
          <ion-icon name="text"></ion-icon>
          <ion-label> CHAT </ion-label>
        </ion-button>
      </ion-col>
    </ion-row>
  </div>
  <!-- =========== ROLE BARBERSHOP ============= -->
  <div *ngIf="userRole === 'Barbershop' && orderId">
    <ion-card class="top">
      <ion-label> Order #{{ orderId }}</ion-label>
      <ion-label class="date float-right"> {{ orderTime | date:'d MMM, HH:mm aa'}}</ion-label>
    </ion-card>

    <div class="mt50">
      <div class="queue">
        <ion-label> {{ queue }} </ion-label>
        <p> queues </p>
      </div>
    
      <ion-card class="order-detail">
        <ion-label class="title"> Customer Name </ion-label>
        <ion-label class="float-right"> {{ fullName }} </ion-label>
        <ion-label class="float-right" *ngIf="custName"> {{ custName }} </ion-label>
      </ion-card>

      <ion-card class="order-detail">
        <ion-label class="title"> Hairstylist </ion-label>
        <ion-label class="float-right"> {{ hairstylistName }}</ion-label>
      </ion-card>

      <ion-card class="order-detail">
        <ion-label class="title"> Price </ion-label>
        <ion-label class="float-right">{{ price | currency:"IDR"}}</ion-label>
      </ion-card>
    </div>

    <ion-row class="contact" *ngIf="!custName">
      <ion-col size="6" class="call" >
        <ion-button color="success" fill="clear" (click)='call()'>
          <ion-icon name="call"></ion-icon>
          <ion-label> CALL </ion-label>
        </ion-button>
      </ion-col>
      <ion-col size="6" class="chat">
        <ion-button fill="clear" (click)='chat()'>
          <ion-icon name="text"></ion-icon>
          <ion-label> CHAT </ion-label>
        </ion-button>
      </ion-col>
    </ion-row>
      
    <ion-button class="finish" expand="block" color="primary" (click)='finishOrder()'>
      <ion-row>
        <ion-col size="12">
          <ion-label> Finish Order </ion-label>
        </ion-col>
      </ion-row>
    </ion-button>
  </div>

  <ion-button class="cancel" expand="block" color="danger" fill="clear" (click)='cancelOrder()' *ngIf="orderId">
    <ion-row>
      <ion-col size="12">
        <ion-label> Cancel Order </ion-label>
      </ion-col>
    </ion-row>
  </ion-button>
</ion-content>
