.account {
    margin: 25px 15px;
    margin-top: 10px;

    .account-info1 {
        color: #999;
        font-weight: bold;
        font-size: 12px;
        text-transform: uppercase;
        margin: 0px;
    }

    .account-info2 {
        color: black;
        font-size: 16px;
        margin: 10px 0px;
    }
}

/* Custom Skeleton */
.custom-skeleton {
    ion-skeleton-text {
        line-height: 15px;
        padding: 2px;
    }

    .btn-skeleton {
        padding: 6px;
        margin-top: 20px;
    }
}