<ion-header>
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button (click)="editAccount()">
        <ion-icon name="create" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div *ngIf="user">
    <!-- ================= ROLE CUSTOMER AND ADMIN ================== -->
    <ion-list lines="none" *ngIf="userRole === 'Customer' || userRole === 'Admin'">
      <div class="account">
        <p class="account-info1"> First Name </p>
        <p class="account-info2" text-wrap> {{ first_name }} </p>
      </div>
      <div class="account">
        <p class="account-info1"> Last Name </p>
        <p class="account-info2" text-wrap> {{ last_name }} </p>
      </div>
      <div class="account">
        <p class="account-info1"> Phone Number </p>
        <p class="account-info2" text-wrap> {{ phone }} </p>
      </div>
      <div class="account">
        <p class="account-info1"> Username </p>
        <p class="account-info2" text-wrap> {{ username }} </p>
      </div>
      <div class="account">
        <p class="account-info1"> Email </p>
        <p class="account-info2" text-wrap> {{ email }} </p>
      </div>
    </ion-list>

    <!-- ==================== ROLE BARBERSHOP ================== -->
    <div *ngIf="userRole === 'Barbershop'">
      <ion-list lines="none">
        <div class="account">
          <p class="account-info1"> Full Name </p>
          <p class="account-info2" text-wrap> {{ first_name }} {{ last_name }} </p>
        </div>
        <div class="account">
          <p class="account-info1"> Barbershop Name </p>
          <p class="account-info2" text-wrap> {{ barberName }} </p>
        </div>
        <div class="account">
          <p class="account-info1"> Phone Number </p>
          <p class="account-info2" text-wrap> {{ barberPhone }} </p>
        </div>
        <div class="account">
          <p class="account-info1"> Username </p>
          <p class="account-info2" text-wrap> {{ username }} </p>
        </div>
        <div class="account">
          <p class="account-info1"> Email </p>
          <p class="account-info2" text-wrap> {{ email }} </p>
        </div>
      </ion-list>
    </div>

    <!-- Change Password Button -->
    <ion-button expand="block" color="primary" (click)="changePassword()"> Change Password </ion-button>

    <!-- Logout Button -->
    <ion-button *ngIf="user" class="btn-form" color="danger" expand="block" fill="clear" (click)="logout()"> Logout </ion-button>
  </div>

  <!-- SKELETON SCREEN CUSTOMER -->
  <div *ngIf="!user" class="ion-padding custom-skeleton">
    <ion-list lines="none">
      <div>
        <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
      </div>
      <div class="mt10">
        <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
      </div>
      <div class="mt10">
        <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
      </div>
      <div class="mt10">
        <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
      </div>
      <div class="mt10">
        <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
      </div>
    </ion-list>

    <ion-skeleton-text class="btn-skeleton" animated style="width: 100%"></ion-skeleton-text>
    <ion-skeleton-text class="btn-skeleton" animated style="width: 100%"></ion-skeleton-text>
  </div>
</ion-content>
