<ion-header>
  <ion-toolbar>
    <ion-title>Manage Hairstylists</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- REFRESHER -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content refreshingSpinner="circles"></ion-refresher-content>
  </ion-refresher>
  <div *ngIf="hairstylists">
    <ion-list lines="none">
      <ion-item-sliding *ngFor="let hs of hairstylists" #slidingItem>
        <ion-item>
          <ion-avatar slot="start">
            <ion-img [src]="barberImg"></ion-img>
          </ion-avatar>
          <ion-label>{{ hs.hairstylist_name }}</ion-label>
        </ion-item>
        <ion-item-options>
          <ion-item-option color="primary" >
            <ion-icon name="create" slot="icon-only" (click)="editHairstylist(hs, slidingItem)"></ion-icon>
          </ion-item-option>
          <ion-item-option color="danger" >
            <ion-icon name="trash" slot="icon-only" (click)="deleteHairstylist(hs, slidingItem)"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>

  <!-- If Barbershop or Customer doesn't have any order -->  
  <div class="no-hairstylist" *ngIf="errorMsg">
    <ion-icon class="icon" name="people" slot="icon-only"></ion-icon>
    <p class="error-msg">{{ errorMsg }}</p>
  </div>

  <!-- SKELETON SCREEN -->
  <div *ngIf="!hairstylists && hairstylists !== null" class="custom-skeleton">
      <ion-item *ngFor="let item of [1,1,1,1,1,1,1,1,1,1]">
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>          
        </ion-avatar>
        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
      </ion-item>
  </div>
</ion-content>

<!-- FAB to ADD Hairstylist -->
<div>
  <ion-fab color="primary" vertical="bottom" horizontal="end" slot="fixed" class="ion-fab">
    <ion-fab-button (click)="addHairstylist()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</div>
