/* Custom Skeleton */
.custom-skeleton {
    ion-skeleton-text {
        line-height: 15px;
        padding: 3px;
    }
}

.no-hairstylist {
    margin: 50% auto;

    .icon {
        width: 100%;
        height: 50px;
        color: var(--ion-color-primary);
    }

    .error-msg {
        text-align: center;
        margin: 10px auto;
        font-size: 110%;
    }
}