.barber-img {
    width: 400px;
    height: 250px;
    object-fit: cover;
    object-position: center;
}

/* Custom Skeleton */
.custom-skeleton {
    ion-skeleton-text {
        line-height: 15px;
        padding: 3px;
    }

    .search {
        padding: 8px;
        margin: 10px 0px;
    }
}