<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!--============= CUSTOMER ============-->
  <div *ngIf="userRole === 'Customer' && barbershopsFilter">
    <ion-searchbar placeholder='Search Barbershop..'
      (ionInput)="searchBarbershop($event)" (ionChange)="searchBarbershop($event)" (ionBlur)='getBarbershopsFilter()'
      (ionClear)='getBarbershopsFilter()'></ion-searchbar>

    <ion-card *ngFor="let b of barbershopsFilter" margin-vertical
      routerDirection='forward' [routerLink]="['/', 'tabs', 'tabs', 'home', b.barbershop_id]" >
      <ion-img [src]="b.image_barbershop" cache="true" alt="Barbershop image" class="barber-img"></ion-img>
      <ion-card-header>
        <ion-card-title> {{ b.barbershop_name }} </ion-card-title>
        <ion-card-subtitle> {{ b.price | currency: "IDR"}} </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p text-wrap> {{ b.address }} </p>
      </ion-card-content>
    </ion-card>
  </div>

  <!-- ========== ADMIN ========== -->
  <div *ngIf="userRole === 'Admin' && barbershops">
    <ion-searchbar placeholder='Search Barbershop..'
      (ionInput)="searchBarbershop($event)" (ionChange)="searchBarbershop($event)" (ionBlur)='getBarbershops()'
      (ionClear)='getBarbershops()'></ion-searchbar>
    
    <ion-list lines="none">
      <ion-item-sliding *ngFor="let b of barbershops" #slidingItem>
        <ion-item>
          <ion-avatar slot="start">
            <ion-img [src]="b.image_barbershop"></ion-img>
          </ion-avatar>
          <ion-label>{{ b.barbershop_name }}</ion-label>
        </ion-item>
        <ion-item-options>
          <ion-item-option color="primary" (click)="editBarbershop(b, slidingItem)" >
            <ion-icon name="create" slot="icon-only"></ion-icon>
          </ion-item-option>
          <ion-item-option color="secondary" (click)="setUser(b.barbershop_id, slidingItem)">
            <ion-icon name="person" slot="icon-only"></ion-icon>
          </ion-item-option>
          <ion-item-option color="danger" (click)="deleteBarbershop(b.barbershop_id, slidingItem)">
            <ion-icon name="trash" slot="icon-only"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>
  
  <!--===================================================-->
  <!--============= SKELETON SCREEN CUSTOMER ============-->
  <div *ngIf="userRole === 'Customer' && !barbershopsFilter" class="custom-skeleton">
    <ion-skeleton-text animated style="width: 100%" class="search"></ion-skeleton-text>
    <ion-card *ngFor="let item of [1,1,1]">
      <div class="barber-img"> 
        <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
      </div>
      <ion-card-header>
        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
      </ion-card-header>
      <ion-card-content>
        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
      </ion-card-content>
    </ion-card>
  </div>

  <!-- ========== SKELETON SCREEN ADMIN ========== -->
  <div *ngIf="userRole === 'Admin' && !barbershops" class="custom-skeleton">
    <ion-skeleton-text animated style="width: 100%" class="search"></ion-skeleton-text>
    <ion-item *ngFor="let item of [1,1,1,1,1,1,1,1,1,1]">
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
    </ion-item>
  </div>
</ion-content>

<!-- FAB to ADD BARBERSHOP -->
<div *ngIf="userRole === 'Admin'">
  <ion-fab color="primary" vertical="bottom" horizontal="end" slot="fixed" class="ion-fab">
    <ion-fab-button (click)="addBarbershop()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</div>