<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <form [formGroup]="form" (ngSubmit)="forgotPassword()" method="post">
        <div class="input-wrapper">
          <ion-label> Email </ion-label>
          <ion-input formControlName="email" class="input-form" type="email"></ion-input>
        </div>    
        <ion-button type="submit" expand="full" color="primary" class="forgot-btn" [disabled]="!form.valid">Reset Password</ion-button>
      </form>
</ion-content>
