<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onCancel()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Edit Hairstylist</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="form" (ngSubmit)="editHairstylist()" method="post">
    <div class="input-wrapper">
      <ion-label> Hairstylist Name </ion-label>
      <ion-input type="text" formControlName="hairstylist_name" class="input-form"></ion-input>
    </div>
    <div *ngIf="form.controls['hairstylist_name'].errors && form.controls['hairstylist_name'].touched" class="error-label">
      <div [hidden]="!form.controls['hairstylist_name'].errors.required"> Hairstylist name is required. </div>
      <div [hidden]="!form.controls['hairstylist_name'].errors.minlength"> Hairstylist name must be at least 3 characters. </div>
    </div>

    <div>
      <ion-button type="submit" expand="full" color="primary" class="btn-form"> Update Hairstylist </ion-button>
    </div>
  </form>
</ion-content>
