<ion-header>
  <ion-toolbar>
    <ion-buttons slot='start'>
      <ion-button (click)='onCancel()'>
        <ion-icon name='arrow-back'></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Edit Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<form [formGroup]="form" (ngSubmit)="editAccount()" method="post">
  <div class="input-wrapper">
    <ion-label position="floating">First Name</ion-label>
    <ion-input formControlName="first_name" class="input-form"></ion-input>
  </div>
  <div *ngIf="form.controls['first_name'].errors && form.get('first_name').touched" class="error-label">
    <div [hidden]="!form.controls['first_name'].errors.required">First Name is required.</div>
    <div [hidden]="!form.controls['first_name'].errors.minlength">First name must be at least 3 characters.</div>
    <div [hidden]="!form.controls['first_name'].errors.maxlength">First name cannot be greater than 50 characters.</div>
  </div>

  <div class="input-wrapper">
    <ion-label position="floating">Last Name</ion-label>
    <ion-input formControlName="last_name" class="input-form"></ion-input>
  </div>
  <div *ngIf="form.controls['last_name'].errors && form.get('last_name').touched" class="error-label">
    <div [hidden]="!form.controls['last_name'].errors.required">Last Name is required.</div>
    <div [hidden]="!form.controls['last_name'].errors.minlength">Last name must be at least 3 characters.</div>
    <div [hidden]="!form.controls['last_name'].errors.maxlength">Last name may not be greater than 50 characters.</div>
  </div>

  <div class="input-wrapper">
    <ion-label position="floating">Email</ion-label>
    <ion-input formControlName="email" class="input-form"></ion-input>
  </div>
  <div *ngIf="form.controls['email'].errors && form.get('email').touched" class="error-label">
    <div [hidden]="!form.controls['email'].errors.required">Email is required.</div>
    <div [hidden]="!form.controls['email'].errors.minlength">Email must be at least 3 characters.</div>
    <div [hidden]="!form.controls['email'].errors.maxlength">Email may not be greater than 50 characters.</div>
    <div [hidden]="!form.controls['email'].errors.email">Email must be a valid email address.</div>
  </div>
  
  <div class="input-wrapper">
    <ion-label position="floating">Username</ion-label>
    <ion-input formControlName="username" class="input-form"></ion-input>
  </div>

  <div class="input-wrapper">
    <ion-label position="floating">Phone Number</ion-label>
    <ion-row>
      <ion-col size="2" class="p0">
        <ion-input value="+62" class="input-form mb0" disabled></ion-input>
      </ion-col>
      <ion-col size="10" class="p0 pl10">
        <ion-input formControlName="phone" class="input-form mb0"></ion-input>    
      </ion-col>
    </ion-row>
  </div>
  <div *ngIf="form.controls['phone'].errors && form.get('phone').touched" class="error-label">
    <div [hidden]="!form.controls['phone'].errors.required">Phone number is required.</div>
  </div>

  <ion-button type="submit" expand="full" color="primary" class="btn-form">Update Account</ion-button>
</form>
</ion-content>
