<ion-content>
  <!-- ====== CUSTOMER ======= -->
  <ion-tabs *ngIf="role === 'Customer'">
    <ion-tab-bar #myTabBar id="myTabBar" slot="bottom">
      <ion-tab-button tab="home">
        <ion-label> Home </ion-label>
        <ion-icon name="home"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="orders">
        <ion-label> Orders </ion-label>
        <ion-icon name="clipboard"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="history">
        <ion-label> History </ion-label>
        <ion-icon name="list-box"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="account">
        <ion-label> Account </ion-label>
        <ion-icon name="contact"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  <!-- ====== BARBERSHOP ======= -->
  <ion-tabs *ngIf="role === 'Barbershop'">
    <ion-tab-bar #myTabBar id="myTabBar" slot="bottom">
      <ion-tab-button tab="orders">
        <ion-label> Orders </ion-label>
        <ion-icon name="clipboard"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="history">
        <ion-label> History </ion-label>
        <ion-icon name="list-box"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="manage-hairstylists">
        <ion-label> Hairstylists </ion-label>
        <ion-icon name="people"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="account">
        <ion-label> Account </ion-label>
        <ion-icon name="contact"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  <!-- ====== ADMIN ======= -->
  <ion-tabs *ngIf="role === 'Admin'">
    <ion-tab-bar #myTabBar id="myTabBar" slot="bottom">
      <ion-tab-button tab="home">
        <ion-label> Home </ion-label>
        <ion-icon name="home"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="account">
        <ion-label> Account </ion-label>
        <ion-icon name="contact"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
