html,body {
    height: 100%;
}

.container{
    min-height: 87%;
    margin-bottom: -40px; 
    padding-bottom: 40px;
}

.logo {
    margin: 20% 15%;
}

.login-input {
    border: 2px solid var(--ion-color-primary);
    border-radius: 12px;
    margin: 15px auto;
    width: 85%;
}

.login-btn {
    height: 40px;
    margin: 30px auto;
    width: 85%;
}

.footer{
    position: relative;
    border-top: 0.5px solid #999;

    ion-button {
        text-transform: inherit;
        color: #999;
        margin: 10px auto;

        span {
            font-weight: bold;
            color: black;
        }
    }
}