<ion-content>
  <!-- LOGO -->
  <div class="container">
    <div class="logo">
      <ion-img src="assets/imgs/Logo.png" alt=" Logo"></ion-img>
    </div>
  
    <!-- LOGIN -->
    <form [formGroup]="form" (ngSubmit)="login()" method="post">
      <ion-input formControlName="username" type="text" class="login-input" placeholder="Username" padding></ion-input>
      <ion-input formControlName="password" type="password" class="login-input" placeholder="Password" padding></ion-input>
      <ion-button type="submit" expand="block" color="primary" class="login-btn" [disabled]="!form.valid">Login</ion-button>
    </form>
  
    <ion-button expand="block" fill="clear" color="tertiary" (click)="forgotPassword()">Forgot Password?</ion-button>
  </div>
  <!-- REGISTER MODAL -->
  <div class="footer" >
    <ion-button expand="full" fill="clear" color="white" (click)="register()">
      <p> Don't have an account? <span>Create Account</span></p>
    </ion-button>
  </div>
</ion-content>
