<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title> Register </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="container">
    <!-- <p class="register-label">Register</p> -->
    <!-- LOGO -->
    <div class="logo">
      <ion-img src="assets/imgs/Logo.png" alt=" Logo"></ion-img>
    </div>

    <form [formGroup]="form" (ngSubmit)="register()" method="post">
      <div class="input-wrapper">
        <ion-label> First Name </ion-label>
        <ion-input formControlName="first_name" class="input-form"></ion-input>
      </div>
      <div *ngIf="form.controls['first_name'].errors && form.controls['first_name'].touched" class="error-label">
        <div [hidden]="!form.controls['first_name'].errors.required">First Name is required.</div>
        <div [hidden]="!form.controls['first_name'].errors.minlength">First name must be at least 3 characters.</div>
      </div>

      <div class="input-wrapper">
        <ion-label> Last Name </ion-label>
        <ion-input formControlName="last_name" class="input-form"></ion-input>
      </div>
      <div *ngIf="form.controls['last_name'].errors && form.controls['last_name'].touched" class="error-label">
        <div [hidden]="!form.controls['last_name'].errors.required">Last Name is required.</div>
        <div [hidden]="!form.controls['last_name'].errors.minlength">Last name must be at least 3 characters.</div>
      </div>

      <div class="input-wrapper">
        <ion-label> Username </ion-label>
        <ion-input formControlName="username" class="input-form"></ion-input>
      </div>
      <div *ngIf="form.controls['username'].errors && form.controls['username'].touched" class="error-label">
        <div [hidden]="!form.controls['username'].errors.required">Username is required.</div>
        <div [hidden]="!form.controls['username'].errors.minlength">Username must be at least 3 characters.</div>
      </div>

      <div class="input-wrapper">
        <ion-label> Email </ion-label>
        <ion-input formControlName="email" type="email" class="input-form"></ion-input>
      </div>
      <div *ngIf="form.controls['email'].errors && form.controls['email'].touched" class="error-label">
        <div [hidden]="!form.controls['email'].errors.required">Email is required.</div>
        <div [hidden]="!form.controls['email'].errors.minlength">Email must be at least 3 characters.</div>
        <div [hidden]="!form.controls['email'].errors.email">Email must be a valid email address.</div>
      </div>

      <div class="input-wrapper">
        <ion-label> Phone Number </ion-label>
        <ion-row>
          <ion-col size="2" class="p0">
            <ion-input value="+62" class="input-form mb0" disabled></ion-input>
          </ion-col>
          <ion-col size="10" class="p0 pl10">
            <ion-input formControlName="phone" type="number" class="input-form mb0"></ion-input>
          </ion-col>
        </ion-row>
      </div>
      <div *ngIf="form.controls['phone'].errors && form.controls['phone'].touched" class="error-label">
        <div [hidden]="!form.controls['phone'].errors.required">Phone number is required.</div>
        <div [hidden]="!form.controls['phone'].errors.minlength">Phone number must be at least 12 characters.</div>
      </div>

      <div class="input-wrapper">
        <ion-label> Password </ion-label>
        <ion-input formControlName="password" type="password" class="input-form"></ion-input>
      </div>
      <div *ngIf="form.controls['password'].errors && form.controls['password'].touched" class="error-label">
        <div [hidden]="!form.controls['password'].errors.required">Password is required.</div>
        <div [hidden]="!form.controls['password'].errors.minlength">Password must be at least 6 characters.</div>
      </div>

      <ion-button type="submit" expand="full" color="primary" class="register-btn" [disabled]="!form.valid">Register</ion-button>
    </form>
  </div>
</ion-content>
