.register-label {
    text-align: center;
    font-size: 30px;
    margin: 40px;
    text-transform: uppercase;
    color: var(--ion-color-primary);
}

.logo {
    margin: 15%;
    margin-top: 10%;
}

.register-input {
    border: 2px solid var(--ion-color-primary);
    border-radius: 12px;
    margin: 20px auto;
    margin-bottom: 10px;
    width: 85%;
}

.register-btn {
    height: 40px;
    margin: 30px auto;
}