<ion-header>
  <ion-toolbar>
    <ion-buttons slot='start'>
      <ion-button (click)='onCancel()'>
        <ion-icon name='arrow-back'></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Set Barbershop User</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="form" (ngSubmit)="setUser()" method="post">
    <div class="input-wrapper">
      <ion-label> Users </ion-label>
      <ionic-selectable class="input-form"
        formControlName="selected_user"
        itemValueField="id"
        itemTextField="full_name"
        [items]="users"
        [canSearch]="true">
        <ng-template ionicSelectableCloseButtonTemplate>
          <ion-icon name="close"></ion-icon>
        </ng-template>
        <ng-template ionicSelectableTitleTemplate>
          Users
        </ng-template>
        <ng-template ionicSelectableSearchFailTemplate>
          <div padding> No Users found. </div>
        </ng-template>
      </ionic-selectable>
    </div>
    <div *ngIf="form.controls['selected_user'].errors && form.controls['selected_user'].touched" class="error-label">
      <div [hidden]="!form.controls['selected_user'].errors.required">Select one user.</div>
    </div>
    <ion-button type="submit" expand="full" color="primary" [disabled]="!form.valid" class="btn-form">Set Barbershop User</ion-button>
  </form>
</ion-content>
