.picker {
    width: 400px;
    max-width: 100%;
    height: 250px;
    max-height: 250px;
    border: 1px solid var(--ion-color-primary);
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}