<div class="picker">
  <ion-img role="button" class="image" (click)="onPickImage()" [src]="selectedImage"
   *ngIf="selectedImage && showPreview" cache="true" alt=" Barbershop image"></ion-img>
  <ion-button color="primary" (click)="onPickImage()" *ngIf="!selectedImage || !showPreview">
    <ion-icon name="camera" slot="start"></ion-icon>
    <ion-label> Barbershop Image </ion-label>
  </ion-button>
</div>