.messages {
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.msg-btn {
    color: white;
    --padding-start: 0.5em;
    --padding-end: 0.5em;
}

.msg-input {
    width: 100%;
    border: 1px solid var(--ion-color-medium);
    border-radius: 10px;
    background: white;
    resize: none;
    padding-left: 10px;
    padding-right: 10px;
    color: black;
}

.my-message {
    color: white;
    background-color: var(--ion-color-primary-tint);
}

.other-message {
    color: black;
    background-color: #ececec;
}

.time {
    color: white;
    font-size: small;
}

.time-black {
    color: black;
    font-size: small;
}

.username {
    font-weight: bold;
    padding-bottom: 5px;
}