<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onCancel()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title *ngIf="userRole === 'Customer'"> {{ barberName }} </ion-title>
    <ion-title *ngIf="userRole === 'Barbershop'"> {{ fullName }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-row *ngFor="let message of messages">
    <ion-col size="9" *ngIf="username !== message.username" class="messages other-message" padding-vertical>
      <div class="username"> {{ message.username }} </div>
      <div>{{ message.message }}</div>
      <div class="time-black" text-right> {{ message.createdAt | date:'shortTime' }} </div>
    </ion-col>

    <ion-col size="9" offset="3" *ngIf="username === message.username" class="messages my-message" padding-vertical>
      <div class="username"> {{ message.username }} </div>
      <div>{{ message.message }}</div>      
      <div class="time" text-right> {{ message.createdAt | date:'shortTime' }} </div>
    </ion-col>
  </ion-row>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-col size="10">
        <ion-input [(ngModel)]="newMessage" placeholder="Type a message" class="msg-input"></ion-input>
      </ion-col>
      <ion-col size="2">
        <ion-button fill="clear" color="white" [disabled]="newMessage === ''" class="msg-btn" (click)="sendMessage()">
          <ion-icon name="send" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
