<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title> Choose Hairstylist </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div *ngIf="hairstylists">
    <p class="barber"> {{ barberName }} </p>
    <ion-list lines="none">
      <ion-item *ngFor="let hs of hairstylists">
        <ion-avatar slot="start">
          <ion-img [src]="barberImg"></ion-img>
        </ion-avatar>
        <div class="label">
          <p>{{ hs.hairstylist_name }}</p>
          <p> {{ hs.queue }} queues </p>
        </div>
        <ion-button color="primary" slot="end" (click)="orderSummary(hs.hairstylist_id)"> Book </ion-button>
      </ion-item>
    </ion-list>
  </div>

  <!--===================================================-->
  <!--============= SKELETON SCREEN ============-->
  <div *ngIf="!hairstylists" class="custom-skeleton">
    <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
    <ion-list lines="none">
      <ion-item *ngFor="let item of [1,1,1,1,1]">
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>    
        </ion-avatar>
        <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
