.barber {
    text-transform: uppercase;
    font-size: 15px;
    color: grey;
    border-bottom: 1px solid #999;
    padding: 15px 0px;
    padding-top: 10px;
    margin: 0px;
}

.label {
    margin: 5px 0px;

    p {
        margin: 10px 0px;
    }
}

/* Custom Skeleton */
.custom-skeleton {
    ion-skeleton-text {
        line-height: 15px;
        padding: 3px;
    }
}