<ion-header>
  <ion-toolbar>
    <ion-buttons slot='start'>
      <ion-button (click)='onCancel()'>
        <ion-icon name='arrow-back'></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Edit {{ barbershop.barbershop_name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>  
  <form [formGroup]="form" (ngSubmit)="editBarbershop()" method="post">
    <div>
      <app-image-selector [showPreview]="form.get('barberImg').value" [selectedImage]="barbershop.image_barbershop" (imagePick)="onImagePicked($event)"></app-image-selector>
    </div>
    
    <div class="input-wrapper">
      <ion-label>Barbershop Name</ion-label>
      <ion-input formControlName="barberName" class="input-form"></ion-input>
    </div>
    <div *ngIf="form.controls['barberName'].errors && form.get('barberName').touched" class="error-label">
      <div [hidden]="!form.controls['barberName'].errors.required">Barbershop name is required.</div>
      <div [hidden]="!form.controls['barberName'].errors.minlength">Barbershop name must be at least 3 characters.</div>
      <div [hidden]="!form.controls['barberName'].errors.maxlength">Barbershop name cannot be greater than 50 characters.</div>
    </div>

    <div class="input-wrapper">
      <ion-label>Address</ion-label>
      <ion-textarea formControlName="barberAddress" class="input-form"></ion-textarea>
    </div>
    <div *ngIf="form.controls['barberAddress'].errors && form.get('barberAddress').touched" class="error-label">
      <div [hidden]="!form.controls['barberAddress'].errors.required">Barbershop address is required.</div>
      <div [hidden]="!form.controls['barberAddress'].errors.minlength">Barbershop address must be at least 3 characters.</div>
    </div>

    <div class="input-wrapper">
      <ion-label>Phone Number</ion-label>
      <ion-row>
        <ion-col size="2" class="p0">
          <ion-input value="+62" class="input-form mb0" disabled></ion-input>
        </ion-col>
        <ion-col size="10" class="p0 pl10">
          <ion-input type="number" formControlName="barberPhone" class="input-form mb0"></ion-input>
        </ion-col>
      </ion-row>
    </div>
    <div *ngIf="form.controls['barberPhone'].errors && form.get('barberPhone').touched" class="error-label">
      <div [hidden]="!form.controls['barberPhone'].errors.required">Phone number is required.</div>
      <div [hidden]="!form.controls['barberPhone'].errors.minlength">Phone number must be at least 3 characters.</div>
    </div>

    <div class="input-wrapper">
      <ion-label>Price</ion-label>
      <ion-input type="number" formControlName="barberPrice" class="input-form"></ion-input>
    </div>
    <div *ngIf="form.controls['barberPrice'].errors && form.get('barberPrice').touched" class="error-label">
      <div [hidden]="!form.controls['barberPrice'].errors.required">Price is required.</div>
      <div [hidden]="!form.controls['barberPrice'].errors.min">Price must be at least Rp1000.</div>
    </div>

    <ion-button type="submit" expand="full" color="primary" [disabled]="!form.valid" class="btn-form">Update Barbershop</ion-button>
  </form>
</ion-content>
