// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';


// Margin and Padding
.mt10 {
    margin-top: 10px;
}

.mt50 {
    margin-top: 50px;
}

.mb0 {
    margin-bottom: 0px;
}

.pl10 {
    padding-left: 10px !important;
}

.p0 {
    padding: 0px;
}

// FAB
.ion-fab {
    right: 25px;
    bottom: 15px;
}

// FORM
.input-wrapper {
    margin: 20px 15px;
    margin-bottom: 0px;

    ion-label {
        text-transform: uppercase;
        color: grey;
        font-size: 12px;
    }

    .input-form {
        border: 1px solid var(--ion-color-primary);
        border-radius: 8px;
        margin: 10px 0px;
    }
}

.error-label {
    font-size: 14px;
    color: var(--ion-color-danger);
    padding: 0px 15px;
}

.btn-form {
    margin: 25px auto;
    border-radius: 10px;
}

// Toast Controller
.toast {
    margin-top: -15px;
}