<ion-header>
  <ion-toolbar>
    <ion-buttons slot='start'>
      <ion-button (click)='onCancel()'>
        <ion-icon name='arrow-back'></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Order Summary</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="detail">
    <ion-card class="history-detail">
      <ion-label class="title"> {{ barberName }} </ion-label>
      <ion-row class="mt10">
        <ion-col size="1" class="icon">
          <ion-icon name="pin"></ion-icon>
        </ion-col>
        <ion-col size="11">
          <ion-label> {{ barberAddress }} </ion-label>
        </ion-col>
      </ion-row>
    </ion-card>

    <ion-card class="history-detail">
      <ion-label class="title"> Hairstylist </ion-label>
      <ion-label class="float-right"> {{ hairstylistName }}</ion-label>
    </ion-card>

    <ion-card class="history-detail">
        <ion-label class="title"> Queue </ion-label>
        <ion-label class="float-right"> {{ queue }} queues</ion-label>
      </ion-card>

    <ion-card class="history-detail">
      <ion-label class="title"> Price </ion-label>
      <ion-label class="float-right">{{ barberPrice | currency:"IDR"}}</ion-label>
    </ion-card>
  </div>

  <ion-button expand='block' (click)='bookBarbershop()'> Book Barbershop </ion-button>
</ion-content>
