.detail {
    margin-top: 10px;
    margin-bottom: 40px;
}

.history-detail {
    margin: 15px 0px;
    padding: 15px;
    font-size: 15px;
    color: black;

    .title {
        font-size: 12px;
        color: grey;
        text-transform: uppercase;
    }

    .icon {
        font-size: 18px;
        color: var(--ion-color-primary);
    }

    .label:first-child {
        margin: 15px;
    }

    .label {
        margin: 20px 0px;
    }

    p {
        margin: 8px 0px;
    }
}

.float-right {
    position: relative;
    float: right;
    margin: 0px;
}